/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: relative !important;
  bottom: 0 !important;
  width: 100% !important;
  /* Set the fixed height of the footer here */
  height: auto !important;
  background-color: #13102F
}

.footer p {
    color: #FFFFFF
}
